* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Banner Styles */
.banner {

    height: 808px;
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 230px;
}

.banner-heading {
    padding-top: 216px;
    padding-bottom: 24px;
    color: #151414;
    font-weight: 700;
    font-size: 65px;
}

.banner-description {
    height: 78px;
    padding-left: 876px;
    padding-bottom: 16px;
}

/* Banner Button Styles */
.btn-primary {
    width: 160px;
    height: 64px;
    background: #F15B22;
    border: 0;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 166px;
}

/* Failure section styles */
.failure {
    display: flex;
    gap: 87px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 131px;
    margin-bottom: 130px;
}

.failure-text {
    margin-top: 200px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}


.failure-description {
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
}

.icon {
    height: 24px;
}

/* Motivate list styles */

.mot-description {
    text-align: center;
    margin: 30px 200px;
}

.motivate-list {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    text-align: center;
    margin: 100px 180px;
    padding-bottom: 40px;

}

.motivate-list img {
    padding: 20px 30px;
    width: 180px;
    height: 200px;
}

div.mot-no1 {
    background: rgba(79, 157, 166, 0.1);
}

div.mot-no2 {
    background: rgba(255, 89, 89, 0.1);
}

div.mot-no3 {
    background: #FFF4D6;
}


/* Plan section styles */
.plan-head {
    margin-bottom: 55px;
}

.plan-head-title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #151414;
}

.plan-list {
    display: flex;
    gap: 86px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-evenly;
    margin-bottom: 130px;

}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    text-align: center;
}

.plan-text {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.plan-icon {
    padding-left: 70px;
    padding-right: 40px;
}


/* Small banner styles */
.small-banner {

    background-image: linear-gradient(to right, #F15B22, #ffffff00),
        url("../images/watch.png");
    height: 300px;
    margin-left: 294px;
    margin-right: 294px;
    margin-bottom: 130px;
    max-width: 1140px;
    padding-left: 64px;
    border-radius: 8px;
}

.small-banner-title {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 24px;
    text-align: left;
}


/* footer Styles */

footer {
    background-color: #151414;
    color: #F8F8F8;
}

.footer-container {
    display: flex;
    gap: 331px;
    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
}

.footer-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 45px;
}

.footer-description {
    margin-bottom: 24px;
}

.footer-icons {
    display: flex;
    gap: 11px;
    width: 47px;
    height: 46px;
    margin-top: 32px;
    margin-bottom: 30px;

}

/* Input field styles */
input {
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 2px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-btn {
    background-color: #ffffff;
    color: #F15B22;
    border-radius: 5px;
    padding: 20px 40px;
    border: 0;

}